# Add files here to ignore them from prettier formatting

/dist
coverage
.github/workflows
.github/actions
**/*.mdx
**/*.md

/*.iml

affected-graph.json
**/*/cypress/reports

/.nx/cache

**/*.min.js

/.nx/workspace-data
allure-results